@font-face {
  font-family: "iconfont"; /* Project id 4396150 */
  src: url('iconfont.woff2?t=1705232324450') format('woff2'),
       url('iconfont.woff?t=1705232324450') format('woff'),
       url('iconfont.ttf?t=1705232324450') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuye2:before {
  content: "\e63d";
}

.icon-shuye3:before {
  content: "\e63e";
}

.icon-SO21:before {
  content: "\e607";
}

.icon-lvhang:before {
  content: "\ed50";
}

.icon-taiyang:before {
  content: "\e636";
}

.icon-WindPower:before {
  content: "\e743";
}

.icon-kaiqitaiyangguangshezhi:before {
  content: "\e649";
}

.icon-a-icon_StarRockssql-copy:before {
  content: "\eb16";
}

.icon-shushuye:before {
  content: "\e635";
}

.icon-xinxi:before {
  content: "\e64b";
}

.icon-fengshan:before {
  content: "\e619";
}

.icon-xiayiyeqianjinchakangengduo-xianxingyuankuang:before {
  content: "\e8f0";
}

.icon-xinxi1:before {
  content: "\e622";
}

.icon-xinxi2:before {
  content: "\e648";
}

.icon-eryanghualiu:before {
  content: "\eb14";
}

.icon-wenti:before {
  content: "\e856";
}

.icon-gongshuai:before {
  content: "\e668";
}

.icon-yumaobi:before {
  content: "\e6e5";
}

.icon-shuye:before {
  content: "\e711";
}

.icon-bianzu7:before {
  content: "\e6f7";
}

.icon-shuye1:before {
  content: "\e652";
}

.icon-gongshuai1:before {
  content: "\e67b";
}

.icon-a-icon_StarRockssql:before {
  content: "\e623";
}

.icon-Union-32:before {
  content: "\e631";
}

.icon-SO2:before {
  content: "\e769";
}

.icon-a-bianzu12:before {
  content: "\e624";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-fenbutu:before {
  content: "\e603";
}

.icon-shenhekongzhi:before {
  content: "\e61b";
}

.icon-weihu:before {
  content: "\e647";
}

.icon-shebeiweihuguanli:before {
  content: "\e628";
}

.icon-shandian1:before {
  content: "\e64f";
}

.icon-shandian2:before {
  content: "\e8c5";
}

.icon-jiankongkongzhiguanli:before {
  content: "\e64e";
}

.icon-anquanjiankong:before {
  content: "\e625";
}

.icon-shandian2-copy:before {
  content: "\eb15";
}

.icon-shujucanmou:before {
  content: "\e87e";
}

.icon-guzhang:before {
  content: "\e63c";
}

.icon-shandian1-copy:before {
  content: "\eb17";
}

.icon-shandian:before {
  content: "\e63f";
}

